.popup {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  /* Location of the box */
  top: 0;
  /* Location of the box */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5);
  /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: all linear 0.3s;
  backdrop-filter: blur(2px);
}

.popup_opened {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  transition-delay: 0s;
}

.popup__container {
  background-color: #fff;
  width: 100%;
  max-width: 430px;
  border-radius: 10px;
  position: relative;
}

.close-button {
  width: 100%;
  max-width: 40px;
  min-height: 40px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 1;
  transition: opacity 0.2s linear;
  padding: 0;
  background-image: url(../../images/close-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 552px) {
  .popup__container {
    max-width: 282px;
  }

  .close-button {
    max-width: 26px;
    min-height: 26px;
    top: -50px;
    right: 5px;
  }

  .close-button_type_info {
    top: -55px;
    right: 130px;
  }
}

@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 320px;
    width: 100%;
    min-height: 512px;
    align-self: flex-end;
    border-radius: 10px 10px 0 0;
  }

  .close-button {
    max-width: 24px;
    min-height: 24px;
    top: -50px;
    right: 16px;
  }
}
