.navigation {
  max-width: 1440px;
  width: 100%;
  border-bottom: 1px solid rgba(196, 196, 196, 0.09);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 104px;
  position: fixed;
  box-sizing: border-box;
  color: #fff;
}

.navigation__wrapper {
  min-height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  min-height: 24px;
  max-width: 200px;
}

.navigation__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  color: #fff;
}

.navigation__link_type_saved {
  margin-left: 70px;
}

.navigation__link:focus {
  border-bottom: 3 px solid #fff;
}

.navigation__button {
  border: 1px solid #fff;
  border-radius: 100px;
  background-color: transparent;
  padding: 12px 25px;
  max-width: 220px;
  min-height: 48px;
  color: #fff;
  margin-left: 34px;
}

.navigation__button_type_logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 64px;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}

.navigation__logout-icon {
  max-width: 24px;
  height: 22px;
  margin-left: 15px;
}

.navigation__disabled {
  display: none;
}
