.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__input {
  border-radius: 100px;
  min-height: 64px;
  max-width: 608px;
  border: 1px solid #D1D2D6;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  color: #B6BCBF;
  padding: 0 24px;
  width: 100%;
  box-sizing: border-box;
}

textarea:focus, input:focus {
  outline: none;
}

.search-form__button {
  background-color: #2F71E5;
  box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
  border-radius: 100px;
  min-height: 64px;
  max-width: 168px;
  width: 100%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
  padding-top: 0;
  margin-left: -168px;
  transition: all linear 0.3s;
}

.search-form__button:hover {
  background-color: #347EFF;
  cursor: pointer;
}

.search-form__button:focus {
  background-color: #2A65CC;
}

@media screen and (max-width: 768px) {
  .search-form__input {
    max-width: 452px;
    min-height: 56px;
  }

  .search-form__button {
    min-height: 56px;
    max-width: 160px;
    margin-left: -160px;
  }
}

@media screen and (max-width: 320px) {
  .search-form {
    flex-direction: column;
  }

  .search-form__input {
    max-width: 288px;
    margin-bottom: 16px;
  }

  .search-form__button {
    max-width: 288px;
    margin-left: 0;
  }
}
