.button-loader {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.button-loader div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: button-loader 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.button-loader div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes button-loader {
  0% {
    top: 16px;
    left: 16px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 16px;
    left: 16px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 16px;
    left: 16px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 32px;
    opacity: 0;
  }
}
