.footer {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copyright {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.38;
  padding-left: 104px;
  margin: 0;
  color: #B6BCBF;
}

.footer__wrapper {
  padding-right: 104px;
  display: flex;
}

.footer__link {
  color: #1A1B22;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  padding: 0 24px;
  transition: all linear 0.3s;
  text-decoration: none;
}

.footer__link:hover {
  cursor: pointer;
  opacity: 0.7;
}

.footer__icon {
  max-width: 24px;
  padding-left: 24px;
  transition: all linear 0.3s;
}

.footer__icon:hover {
  cursor: pointer;
  opacity: 0.7;
}
